<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | O2K Students</title>
    <meta property="og:image" content="imgall">
    <link rel="shortcut icon" href="logo" type="image/x-icon">
    <link rel="stylesheet" href="home.css">
    <meta name="description" content="All students information and class marks are collected in this page.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <nav>
        <div class="left">
            <a href="">O2K<span>Students</span></a>
        </div>
        <div class="right">
            <a href="students">Students</a>
            <a href="">Table</a>
        </div>
    </nav>
    <div class="head">
        <h1>Find me</h1>
        <form method="post" action="search" class="search">
            <input type="text" required placeholder="Search by ID" name="id">
            <button type="submit">Search</button>
        </form>
        <p>Find yourself to watch your personal marks, skill and more information.</p>
    </div>
    <div class="b">
        <h1>Dictionary</h1>
        <div class="short">
            <a href="https://www.ldoceonline.com/"><img src="https://seeklogo.com/images/L/Longman-logo-E955D00317-seeklogo.com.png" alt=""><p>Eng-Eng Dictionary</p></a>
            <a href="https://www.shandictionary.com/"><img src="https://haohaa.sgp1.digitaloceanspaces.com/apple-touch-icon.png" alt=""><p>Eng-Shn Dictionary</p></a>
        </div>
    </div>
</body>
</html>