<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body{
            background: royalblue;
            margin: 0;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        form{
            background: #fff;
            border-radius: 15px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 450px;
            margin: 15px;
        }
        h1{margin: 5px;color: royalblue;font-size: 36px;margin-top: 29px;margin-bottom: 9px;}
        input{width: 89%;margin-top: 9px;padding: 10px;color: #333;border-radius: 5px;background: none;border: 2px solid dimgray;outline: none;}
        input:focus{border-color: royalblue;}
        p{color: rgb(255, 51, 51);margin: 5px;width: 91%;}
        button{
            width: 51%;
            margin-top: 12px;
            margin-bottom: 23px;
            padding: 9px;
            font-size: 16px;
            background-color: royalblue;
            color: #fff;
            outline: none;border: none;
            cursor: pointer;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <form method="post" action="login">
        <h1>Login</h1>
        <% if(email){%>
        <input required value="<%=email%>" type="email" placeholder="Email" name="email">
        <%}else{%>
        <input required type="email" placeholder="Email" name="email">
        <%}%>
        <%if(pass){%>
            <input required value="<%=pass%>" type="password" placeholder="Password" name="pass">
        <%}else{%>
            <input required type="password" placeholder="Password" name="pass">
        <%}%>
        <p><%=msg%></p>
        <button type="submit">Login</button>
    </form>
    <script>
        var url = window.location.href;
        let link = url.split('/login')[1];
        var form = document.querySelector("form");
        form.action = 'login'+link;

    </script>
</body>
</html>