@font-face{
    src: url('/font');
    font-family: 'pa';
}
body{
    background: #eee;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    background: white;
    width: 100%;
    padding: 9px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .left{
    display: flex;
    align-items: center;
    margin-left: 19px;
}
nav .left a{
    text-decoration: none;
    background: royalblue;
    color: #fff;
    padding: 7px 12px;
    border-radius: 4px;
    user-select: none;
    margin-right: 9px;
    font-size: 16px;
}
nav .left h1{
    margin: 5px 9px;
    font-size: 32px;
    color: #333;
}
nav .left h1 span{
    font-size: 23px;
    color: rebeccapurple;
    margin-left: 5px;
}
nav .right{
    display: flex;
    align-items: center;
    margin-left: 19px;
}
.search{
    display: flex;
    align-items: center;
    border: 2px solid #eee;
    overflow: hidden;
    border-radius: 4px;
    width: 450px;
    margin-right: 9px;
}
.search input{
    width: 100%;
    margin-left: 9px;
    padding: 5px;
    font-size: 17px;
    background: none;
    outline: none;
    border: none;
}
.search button{
    padding: 8px 15px;
    color: #fff;
    background: rebeccapurple;
    outline: none;border: none;
    cursor: pointer;
    margin: 3px;
    font-size: 16px;
    border-radius: 4px;
}
table{
    background: white;
    margin: 9px 0;
    width: 91%;
    border-radius: 9px;
    overflow: hidden;
}
tr{transition: 0.2s;}
tr:nth-child(1){
    background: rebeccapurple;
}
tr:nth-child(1):hover{
    background: rebeccapurple;
}
th{
    padding: 9px;
    font-size: 19px;
    color: #fff;
    text-align: center;
}
td{
    text-align: center;
    padding: 15px 5px;
    color: #333;
    font-size: 17px;
    text-align: center;
}
td:nth-child(1){font-family: pa;}
td:nth-child(2){font-family: pa;}
td:nth-child(5){color: royalblue;}
td:nth-child(6){
    color: green;
}
td:nth-child(7) a{
    user-select: none;
    margin: 0 7px;
    color: royalblue;
}
tr:hover{
    background: #eee;
}
.edit{
    background: #fff;
    position: fixed;
    transition: 0.4s;
    top: 100vh;left: 0;
    width: 100%;height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-direction: column;
}
.edit h1{
    font-size: 36px;
    color: royalblue;
    margin: 9px;
    font-family: pa;
}
.edit .btn{
    display: flex;
    position: absolute;
    align-items: center;
    top: 5px;
    right: 5px;
    margin-right: 9px;
}
.edit .btn a{
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 17px;
    margin: 5px 7px;
    padding: 9px;
}
.edit button{
    outline: none;border: none;
    text-decoration: none;
    margin: 0;
    padding: 9px 19px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background: royalblue;
    color: #fff;
    margin: 2.4px;
}
.edit label{
    width: 500px;
    margin: 5px;
    margin-bottom: 9px;
    font-size: 17px;
    color: #333;
}
.edit label span{
    color: #fff;
    background: royalblue;
    padding: 3px 7px;
    border-radius: 51px;
    margin-left: 3px;
}
.ii{
    display: flex;
    align-items: center;
    border: 1px solid rgba(105, 105, 105, 0.69);
    border-radius: 4px;
    width: 482px;
}
.b2{display: none;}
.edit input{
    width: 100%;
    padding: 7px;
    margin-left: 9px;
    font-size: 16px;
    background: none;
    outline: none;
    border: none;
}
.ti{
    display: flex;
    align-items: center;
    color: #333;
    font-size: 29px;
    width: 91%;
    margin: 2px;
}
.ti span{
    color: rebeccapurple;
    margin-left: 3px;
}
.ask{
    position: fixed;
    top: 0;left: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;height: 100%;
    justify-content: center;
}
.ask h1{
    font-size: 36px;
    color: rebeccapurple;
    margin: 9px;
}
.ask input{
    width: 391px;
    padding: 9px 12px;
    background: none;
    color: #333;
    font-size: 18px;
    border-radius: 4px;
    border: 2px solid dimgray;
    outline: none;
    margin: 5px 0;
}
.ask input:focus{
    border-color: rebeccapurple;
    box-shadow: 1px 2px 3px rgba(40, 40, 40, 0.285);
}
.ask p{
    margin: 5px;
    width: 391px;
    font-size: 17px;
    color: rgb(255, 36, 36);
    display: none;
}
.ask button{
    font-size: 17px;
    padding: 9px 63px;
    border-radius: 4px;
    margin-top: 9px;
    background: rebeccapurple;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    transform: scale(1);
}
.ask button:active{transform: scale(0.91);}
.bb{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media(max-width:1050px){
    nav .left h1{font-size: 27px;}
    nav .left a{font-size: 15px;}
    .ti{font-size: 27px;}
    .edit h1{font-size: 32px;}
    table{width: 95%;}
    th{font-size: 17px;}
    td{font-size: 15px;}
    .search button{font-size: 14px;}
    .search{width: 400px;}
}
@media(max-width:825px){
    nav .left{margin-left: 12px;}
    nav .left h1{font-size: 4vw;}
    nav .left a{font-size: 14px;margin-right: 3px;}
    .search{display: none;}
    .ti{font-size: 4vw;}
    table{width: 98%;}
    td{font-size: 14px;padding: 10px 3px;}
    .edit h1{
        font-size: 29px;
    }
    .edit label{font-size: 16px;}
    .edit label span{font-size: 15px;}
    .edit input{font-size: 15px;}
    .edit .btn button{font-size: 15px;}
    .edit .btn a{font-size: 16px;}
}
@media(max-width:624px){
    .bb{
        overflow-x: scroll;
        justify-content: flex-start;
    }
    table{min-width: 729px;margin: 9px;}
    .edit h1{font-size: 24px;}
    .edit label{font-size: 15px;width: 78%;}
    .edit label span{font-size: 14px;}
    .edit input{font-size: 14px;}
    .edit .btn button{font-size: 14px;padding: 8px 17px;}
    .edit .btn a{font-size: 14px;}
    .ii{width: 78%;padding: 3px 0;}
        
}
@media(max-width:500px){
    nav .left h1{font-size: 4.5vw;}
    th{font-size: 16px;}
    .ti{font-size: 4.5vw;}
    .edit h1{font-size: 19px;}
    .edit label{width: 88%;}
    .ii{padding: 0;width: 88%;}
    .edit .btn{display: none;}
    .b2{display: flex;}
}