body{
    margin: 0;
    background: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    background: white;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 9px 0;
}
nav .left{
    display: flex;
    align-items: center;
    margin-left: 19px;
}
nav .left a{
    text-decoration: none;
    font-size: 29px;
    color: rgb(179, 63, 217);
    font-weight: bold;
}
nav .left a span{
    color: dimgray;
    margin: 5px;
}
nav .right{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
nav .right a{
    text-decoration: none;
    padding: 7px 19px;
    font-size: 24px;
    color: #333;
    transition: 0.4s;
    border-radius: 4px;
    margin: 0 5px;
}
nav .right a:hover{
    background: #eee;
    color: rgb(179, 63, 217);
}
.head{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 51px 0;
}
.head h1{
    margin: 5px;
    font-size: 63px;
    color: rgb(179, 63, 217);
}
.search{
    background: white;
    width: 666px;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.search input{
    width: 100%;
    font-size: 24px;
    margin-left: 7px;
    background: none;
    outline: none;
    border: none;color: #333;
}
.search button{
    background: rebeccapurple;
    color: white;
    outline: none;border: none;
    padding: 12px 24px;
    font-size: 17px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;
    transform: scale(1);
}
.search button:hover{
    animation: searchbtn 1s;
}
.search button:active{transform: scale(0.89);}
@keyframes searchbtn{
    30%{transform: scale(0.91);}
    50%{transform: scale(1);}
    70%{transform: scale(0.91);}
    100%{transform: scale(1);}
}
.head p{
    margin: 9px;
    color: dimgray;
    font-size: 17px;
}
.b{
    width: 100%;
    background: linear-gradient(royalblue,purple)no-repeat;
    padding: 19px 0;
    display: flex;
    margin-top: 63px;
    margin-bottom: 63px;
    flex-direction: column;
    align-items: center;
}
.b h1{
    font-size: 51px;
    color: #fff;
    margin: 0;
    transform: scale(1);
    transition: 0.4s;
    margin-top: 32px;
}
.short{
    background: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 7px;
    transform: translateY(63px);
}
.short a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    margin: 5px 15px;
    color: #333;
}
.short a img{
    height: 63px;
    object-fit: contain;
    object-position: center;
    user-select: none;
    border-radius: 51px;
    margin: 2px;
}
.short a p{
    margin: 2px;
    font-size: 19px;
}

@media(max-width:700px){
    nav .left a{font-size: 25px;}
    nav .right a{font-size: 19px;}
    .head h1{font-size: 51px;}.search{width: 91%;}
    .search input{font-size: 19px;margin-left: 9px;}
    .search button{font-size: 15px;padding: 10px 21px;}.head p{font-size: 15px;text-align: center;}
    .b h1{font-size: 7vw;}
    .short a p{font-size: 3vw;}
}
@media(max-width:591px){
    nav .left a{font-size: 5vw;}
    nav .right a{font-size: 15px;padding: 6px 10px;margin: 0 3px;}
    .head h1{font-size: 9vw;}
    .search input{font-size: 15px;}.search button{font-size: 14px;padding: 8px 15px;}
    .short{width: 88%;justify-content: space-evenly;transform: translateY(51px);}.short a h1{margin-top: 42px;}
    .short a{margin: 5px;padding: 9px;}
    .short a img{height: 51px;}
}