@font-face{
    src: url('/font');
    font-family: 'pa';
}
body{
    background: royalblue;
    background: url('https://cdn.wallpapersafari.com/7/28/d2tT54.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;margin: 0;
    display: flex;justify-content: center;align-items: center;
}
.box{
    background: rgba(255, 255, 255, 0.237);
    backdrop-filter: blur(5px);
    padding: 15px 36px;
    border-radius: 19px;
    display: flex;
    align-items: center;
    width: 666px;
    font-family: 'pa';
}
.left{
    min-width: 300px;
    margin-right: 5px;
    display: flex;flex-direction: column;align-items: center;
}
.left .profile{
    width: 123px;
    height: 123px;
    object-fit: cover;
    object-position: center;
    user-select: none;
    border-radius: 50%;
    padding: 5px;
    outline: 2px solid white;
    background: royalblue;
    outline-offset: -3.5px;
}
.left h1{
    margin: 5px;
    font-size: 32px;
    color: #333;
}
.item{
    background: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(5px);
    display: flex;
    width: 100%;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    margin: 3px 0;
    padding: 5px 0;
    color: #333;
    transition: 0.4s;
}
.item:hover{
    background: #fff;
}
.item p{
    margin: 3px;
    font-size: 18px;
}
.item p:nth-child(1){
    margin-left: 9px;
}
.item p:nth-child(2){
    margin: 0 9px;
    font-weight: bold;
    word-break: break-all;
    text-align: right;
}
.item i{
    font-size: 15px;
    margin-right: 15px;
}
.t{
    background: #fff;
    color: rebeccapurple;
    font-weight: bold;
}
.point{cursor: pointer;display: none;color: #333;}
hr{
    background: #eee;
    height: 300px;
    width: 3px;border: none;margin: auto 36px;
}
.right{
    width: 100%;
    margin-left: 5px;
}
.right h1{
    margin: 5px;
    color: #333;
    font-size: 27px;
}
.div{
    border: 2px solid #eee;
    width: 100%;
    border-radius: 5px;
    margin-top: 7px;
}
.div h3{
    margin: 5px;
    font-size: 23px;
    color: #333;
    margin-top: 8px;
    margin-left: 9px;
}
.bar{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.bar p{
    margin: 0 5px;
    color: #333;
    font-size: 17px;
    font-weight: bold;
    margin-right: 12px;
}
.percentdiv{
    width: 100%;
    background: #eee;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid rgba(105, 105, 105, 0.259);
    overflow: hidden;
}
.percent{
    height: 5px;
    width: 49%;
    border-radius: 5px;
    background: royalblue;
}
.back{
    padding: 6px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rebeccapurple;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
    transition: 0.4s;
    display: none;
}
.back:hover{
    background: rgb(131, 68, 195);
}
.back i{
    font-size: 14px;
    margin-right: 9px;
}
.back p{
    margin: 3px;
    font-size: 13px;
}
.btn{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.btn a{
    user-select: none;
    text-decoration: none;
    margin: 9px;
}
.btn a img{
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
}
.pop{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 100vh;left: 0;
    background: #fff;
    transition: 0.4s;
    width: 100%;height: 100%;
}
.pop h1{
    margin: 5px;
    color: #333;
    font-size: 36px;
}
.pop h1 span{
    color: royalblue;
    font-size: 19px;
    margin: 5px;
}
.pop p{
    margin: 5px;
    text-align: center;
    color: #333;
    font-size: 21px;
}
.pop img{
    width: 159px;
    height: 159px;
    object-fit: cover;
    object-position: center;
    user-select: none;
    margin: 19px;
}
.pop button{
    width: 232px;
    background: rgb(255, 49, 49);
    color: #fff;
    padding: 12px 0;
    font-size: 16px;
    outline: none;border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media(max-width:759px){
    .box{width: 87%;}
    .left{min-width: 242px;}
    .left .profile{
        width: 99px;
        height: 99px;
    }
    .left h1{font-size: 4.5vw;}.right h1{font-size: 4.5vw;}
    .item p{font-size: 16px;}
}
@media(max-width:659px){
    .box{
        overflow: hidden;
        justify-content: center;
        width: 450px;
        margin: 19px;
    }
    .left{
        width: 96%;
    }hr{display: none;}
    .right{
        position: absolute;
        top: 0;
        background: white;
        right: -900px;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        transition: 0.4s;
        padding: 19px 0;
    }
    .right .item{
        width: 91%;
        background: #eeeeeeba;
        margin: 3px auto;
    }
    .point{display: flex;}
    .right h1{margin-top: 9px;}
    .back{display: flex;}
}

@media(max-width:500px){
    .left h1{font-size: 7.5vw;text-align: center;}.right h1{font-size: 7vw;text-align: center;width: 91%;margin: 9px auto;}
    .item p{font-size: 14px;}
    .btn a img{height: 19px;width: 19px;}
    .pop h1{font-size: 5vw;}.pop h1 span{font-size: 14px;}
    .pop p{font-size: 15px;width: 78%;}
    .pop img{width: 123px;height: 123px;}
    .pop button{font-size: 14px;}
}