@font-face{
    src: url('/font');
    font-family: 'pa';
}
body{
    background: #eee;
    margin: 0;
}
nav{
    background: white;
    display: flex;
    align-items: center;
    height: 63px;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
}
nav .left{
    display: flex;
    align-items: center;
    margin-left: 19px;
}
nav .left a{
    text-decoration: none;
}
nav .left a i{
    font-size: 23px;
    color: dimgray;
}
.logo{
    display: flex;
    align-items: center;
    color: rgb(179, 63, 217);
    font-size: 29px;
    font-weight: bold;
    margin: 0;
    margin-left: 15px;
}
.logo span{
    margin: 5px;
    color: dimgray;
}
nav .right{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
nav .right a{
    display: flex;
    align-items: center;
    margin: 2px 9px;
    padding: 7px 19px;
    text-decoration: none;
    border-radius: 4px;
    color: #333;
    transition: 0.5s;
}
nav .right a:hover{
    background: #eee;
}
nav .right a i{
    font-size: 19px;
}
nav .right a p{
    margin: 5px;
    font-size: 19px;
}
.con{
    display: flex;
    width: 100%;
    align-items: flex-start;
}
.menu{
    min-width: 300px;
    background: white;
    height: 100%;
    min-height: calc(100vh - 64px);
    display:flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 64px;
}
.menu a{
    width: 100%;
    background: white;
    margin: 3px 0;
    display: flex;
    transition: 0.4s;
    padding: 9px 0;
    align-items: center;
    text-decoration: none;
    transform: scale(1);
    justify-content: space-between;
}
.menu a:hover{
    transform: scale(1.05) translateX(9px);
    box-shadow: 3px 2px 3px rgba(52, 52, 52, 0.178);
}
.menu a img{
    height: 36px;
    margin-left: 9px;
}
.menu a p{
    margin: 0;
    margin-right: 15px;
    font-size: 19px;
    font-weight: bold;
    color: #333;
}
.menu .active{
    background: #f9f9f9;
    border-right: 5px solid rgb(179, 63, 217);
}
nav .menubtn{
    font-size: 19px;
    margin-right: 15px;
    cursor: pointer;
    display: none;
}
.home{
    width: 100%;
    height: 100%;
}
.home h1{
    margin: 5px;
    font-size: 36px;
    margin-left: 19px;
    color: #333;
}
table{
    background: white;
    width: 89%;
    margin: 15px auto;
    border: none;
    border-radius: 9px;
}
tr:nth-child(1){
    border-radius: 5px;
    background: rgb(179, 63, 217);
}
th{
    padding: 12px 0;
    font-size: 24px;
    color: white;
}
th:nth-child(1){
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
th:nth-child(6){
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
td{
    padding: 15px 9px;
    font-size: 17px;
    color: #333;
    text-align: center;
}
td:nth-child(1){
    font-family: 'pa';
}
td a{
    text-decoration: none;
    width: 100%;
    color: royalblue;
}
.sc{
    width: 100%;
}

@media(max-width:1270px){
    table{width: 95%;}
    .menu{min-width: 272px;}
}
@media(max-width:1111px){
    nav .left a i{font-size: 19px;}
    .logo{font-size: 24px;}
    .menu a{padding: 9px 0;}
    .menu a img{height: 29px;}
    .menu a p{font-size: 17px;}
    nav .right a i{font-size: 17px;}
    nav .right a p{font-size: 17px;}.home h1{font-size: 29px;}
    th{font-size: 21px;padding: 10px 0;}td{font-size: 15px;}
}
@media(max-width:1000px){
    .menu{min-width: 232px;}
    .menu a img{height: 25px;}
    .menu a p{font-size: 16px;}th{font-size: 19px;}
    td{font-size: 14px;padding: 12px 7px;}.home h1{font-size: 27px;}
}
@media(max-width:888px){
    nav .menubtn{display: block;}
    .menu{position: fixed;left: -300px;top: 63px;transition: 0.5s;}
}
@media(max-width:615px){
    .sc{width: 99%;margin: 0 auto;overflow-x: scroll;}
    table{width: 600px;margin: 9px;}
    nav .menubtn{font-size: 15px;}
    nav .left a i{font-size: 15px;}.menu a p{font-size: 14px;}
    .logo{font-size: 17px;flex-direction: column;white-space: nowrap;align-items: flex-start;}
    .logo span{margin: 0;font-size: 15px;}
    .menu a img{height: 23px;}
    nav .right a{margin: 2px 5px;padding: 7px;}
    nav .right a p{display: none;}.home h1{font-size: 23px;}
    th{font-size: 15px;}td{font-size: 13px;}
}
.sc::-webkit-scrollbar{background: transparent;height: 7px;}
.sc::-webkit-scrollbar-thumb{background: rgb(179, 63, 217);border-radius: 9px;}